<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'historia' %}">Nossa História</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cardápio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'sushi' %}">Sushi</a>
          <a class="dropdown-item" href="#">sashimi</a>
          <a class="dropdown-item" href="#">Temaki</a>
            <a class="dropdown-item" href="#">Diversos</a>
            <a class="dropdown-item" href="#">Sobremesa</a>
            <a class="dropdown-item" href="#">Bebidas</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contatos</a>
      </li>
    </ul>

        <button class="btn btn-outline-success my-2 my-sm-0">Entrar</button>
     <a href="{% url 'administrativo' %}"> <button class="btn btn-outline-success my-2 my-sm-0">Adm</button></a>
  </div>
</nav>