<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% if user.is_authenticated %}
    <p>Você está logado como {{ user.username }}.</p>
<h1>Carrinho</h1>
    {% if carrinho_itens %}
        <ul>
            {% for item in carrinho_itens %}
                <li>
                    {{ item.produto.nome }} - Quantidade: {{ item.quantidade }} - Total: ${{ item.item_total }}
                </li>
            {% endfor %}
        </ul>
        <p><strong>Total: ${{ total }}</strong></p>
    {% else %}
        <p>Carrinho Vazio</p>
    {% endif %}
    <a href="{% url 'home' %}">Continuar Comprando</a>

<form action="{% url 'finalizar_compra' %}" method="post">
    {% csrf_token %}

    <button type="submit" class="btn btn-success">Finalizar Compra</button>
</form>

{% else %}
    <a href="{% url 'logar' %}">Faça Login para acesso</a>

{% endif %}



</body>
</html>